<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>100 Hours Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/style.css">

    <script src="https://kit.fontawesome.com/6bab3c972e.js" crossorigin="anonymous"></script>
</head>
<body class="pb-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2 pb-0 pt-0">
        <a class="navbar-brand" href="/"><img src="../../images/meetcomm.png" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <% if(isLoggedIn){%>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            <%} else {%>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
              </li>
            <%}%>
          </ul>
          <form action="/search" method="GET" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <% if(event.invited.includes(user.email)){%>
                  <p>Hello, <%=user.first%>! You have been invited to this event!</p>
                  <form action="/events/event/acceptInvite/<%=event._id%>?_method=PUT" method="POST" class="d-inline">
                    <button class="btn btn-success btn-sm">Accept Invite</button>
                  </form>
                  <form action="/events/event/declineInvite/<%=event._id%>?_method=PUT" method="POST" class="d-inline">
                    <button class="btn btn-danger btn-sm">Decline Invite</button>
                  </form>
                <%}%>
                <h3><%=event.name%></h3>
                <img src="<%= event.image %>" alt="Event Photo" class="img-fluid rounded">
                <p><%= event.desc %></p>
                <p><%=event.date.toLocaleDateString(undefined, {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })%> at <%=event.date.toLocaleTimeString()%></p>
                <% let address = event.address %>
                <p>
                  <a href="https://www.google.com/maps/search/?api=1&query=<%=address.address.split(' ').join('%20')%>%2C%20<%=address.city.split(' ').join('%20')%>%2C%20<%=address.state%>%2C%20<%=address.zip%>" target="_blank" rel="nonreferrer noopener">
                    <%=address.address%>, <%= address.city %> <%= address.state %> <%=address.zip%>
                  </a>
                </p>
                <p><%= event.attendees.length%> people are attending</p>
                <p><%= event.invited.length %> people are invited</p>
                <% if(user._id = event.hostId) {%>
                  <div class="container">
                    <form action="/events/event/changeDate/<%=event._id%>?_method=PUT" method="POST">
                      <label for="date">Change Date</label>
                      <input type="datetime-local" name="date" id="date">
                      <button class="btn btn-sm btn-primary">Submit</button>
                    </form>
  
                    <form action="/events/event/updateAddress/<%=event._id%>?_method=PUT" method="POST">
                      <div class="form-group">
                        <label for="address">Address</label> 
                        <input type="text" name="address" id="address" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" name="city" id="city" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="state">State</label>
                        <input type="text" name="state" id="state" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="zip">Zip Code</label>
                        <input type="text" name="zip" id="zip" class="form-control">
                      </div> 
                      <button class="btn btn-sm btn-primary">Submit</button>
                    </form>
              
  
                    <form action="/events/event/sendInvite/<%=event._id%>?_method=PUT" method="post">
                      <div class="form-group">
                        <label for="invites">Enter Email(s) <span class="">separate multiple emails with a comma (,)</span></label>
                        <textarea name="invites" id="" cols="30" rows="2" class="form-control"></textarea>
                      </div>
                     <button class="btn btn-sm btn-primary" class="form-control">Submit</button>
                    </form>
                  </div>
                <%}%>
              </div>
        </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <form action="/events/event/postComment/<%=event._id%>?_method=PUT" method="POST">
            <div class="form-group">
              <label for="content">New Comment</label>
              <textarea name="content" id="content" cols="30" rows="3" class="form-control"></textarea>
            </div>
            <button class="btn btn-sm btn-primary">Submit</button>
          </form>
        </div>
        <div class="col-8 mt-3">
          <%for(let i=0; i<event.comments.length; i++){%>
            <div class="containter comment mb-2">
              <h5><%=event.comments[i].username%></h5>
              <p><%=event.comments[i].content%></p>
              <span><%=event.comments[i].date.toDateString()%></span>

  
              <%let userId = event.comments[i].userId%>
              <%let commentId = event.comments[i]._id%>
              <%let likes = event.comments[i].likes%>
              <form action="/events/event/addCommentLike/<%=event._id%>/<%=commentId%>?_method=PUT" method="POST" class="d-inline ml-auto">
                <span><%=likes%></span>
                <button class="btn btn-sm btn-danger"><i class="fas fa-heart"></i></button>
              </form>
              
              <%if(userId == user._id){%>
                <form action="/events/event/deleteComment/<%=event._id%>/<%=commentId%>?_method=PUT" method="POST" class="d-inline">
                  <button class="btn btn-sm btn-primary"><i class="fas fa-trash"></i></button>
                </form>
              <%}%>
            </div>
          <%}%>
        </div>
      </div>
    </div>

    <script src="../../js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>