<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>100 Hours Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/style.css">

    <script src="https://kit.fontawesome.com/6bab3c972e.js" crossorigin="anonymous"></script>
</head>
<body class="pb-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2 pb-0 pt-0">
        <a class="navbar-brand" href="/"><img src="../../images/meetcomm.png" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <% if(isLoggedIn){%>
              <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            <%} else {%>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
              </li>
            <%}%>
          </ul>
          <form action="/search" method="GET" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>

    <div class="container p-0">
        <div class="row justify-content-center">
            <div class="col col-sm-11 col-md-9 col-lg-7">
              <%if(user && event.date > Date.now()){%>
              <div id="RSVP">
                  <% if(event.invited.includes(user.email)){%>
                    <p class="mb-1">Hello, <%=user.first%>! You have been invited to this event!</p>
                    <form action="/events/event/acceptInvite/<%=event._id%>?_method=PUT" method="POST" class="d-inline">
                      <button class="btn btn-outline-success btn-sm">Accept Invite</button>
                    </form>
                    <form action="/events/event/maybeInvite/<%=event._id%>?_method=PUT" method="POST" class="d-inline">
                      <button class="btn btn-outline-primary btn-sm">Maybe Attending</button>
                    </form>
                    <form action="/events/event/declineInvite/<%=event._id%>?_method=PUT" method="POST" class="d-inline">
                      <button class="btn btn-outline-danger btn-sm">Decline Invite</button>
                    </form>
                  <%} else if (event.public === true && !event.attendees.includes(user.email) && !event.maybe.includes(user.email)){%>
                    <p class="mb-1">Hello, <%=user.first%>! This event is open the the public! Would you like to attend?</p>
                    <form action="/events/event/acceptInvite/<%=event._id%>?_method=PUT" method="POST" class="d-inline">
                      <button class="btn btn-outline-success btn-sm">Attend</button>
                    </form>
                    <form action="/events/event/maybeInvite/<%=event._id%>?_method=PUT" method="POST" class="d-inline">
                      <button class="btn btn-outline-primary btn-sm">Maybe Attending</button>
                    </form>
                  <%} else if (event.attendees.includes(user.email)){%>
                    <p class="mb-1">Hello, <%=user.first%>! You are currently attending this event, would you like update your attendance status?</p>
                    <form action="/events/event/maybeInvite/<%=event._id%>?_method=PUT" method="POST" class="d-inline">
                      <button class="btn btn-outline-success btn-sm">Maybe Attending</button>
                    </form>
                    <form action="/events/event/cancelAttendance/<%=event._id%>?_method=PUT" method="POST" class="d-inline">
                      <button class="btn btn-outline-danger btn-sm">No Longer Attending</button>
                    </form>
                  <%} else if (event.maybe.includes(user.email)){%>
                    <p>Hello, <%=user.first%>! You are currently marked as a maybe, would you like to update your RSVP?</p>
                    <form action="/events/event/acceptInvite/<%=event._id%>?_method=PUT" method="POST" class="d-inline">
                      <button class="btn btn-outline-success btn-sm">Attend</button>
                    </form>
                    <form action="/events/event/cancelAttendance/<%=event._id%>?_method=PUT" method="POST" class="d-inline">
                      <button class="btn btn-outline-danger btn-sm">No Longer Attending</button>
                    </form>
                  <%}%>
                </div>
              <%}%>


              <div id="eventInfo" class="p-2 my-3">
                  <h3 class="mt-2"><%=event.name%></h3>
                  <img src="<%= event.image %>" alt="Event Photo" class="img-fluid rounded">
                  <p><%= event.desc %></p>
                  <p><%=event.date.toLocaleDateString(undefined, {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })%> at <%=event.date.toLocaleTimeString()%></p>
                  <% let address = event.address %>
                  <% if(address.address && address.zip){%>
                  <p>
                    <a class="address-link" href="https://www.google.com/maps/search/?api=1&query=<%=address.address.split(' ').join('%20')%>%2C%20<%=address.city.split(' ').join('%20')%>%2C%20<%=address.state%>%2C%20<%=address.zip%>" target="_blank" rel="nonreferrer noopener">
                      <%=address.address%>, <%= address.city %> <%= address.state %> <%=address.zip%>
                    </a>
                  </p>
                  <%} else {%>
                  <p>
                    <%=address.address%> <%=address.city%> <%=address.state%> <%=address.zip%>
                  </p>
                  <%}%>
                  <p><%= event.attendees.length%> people are attending</p>
                  <p><%= event.maybe.length%> people are maybe going</p>
                  <p><%= event.invited.length %> people are invited</p>
                  <% if(event.public === true) {%>
                    <div class="container">
                      <%if (user && user._id == event.hostId){%>
                      <button class="btn btn-outline-light toggleForm" id="changeDateToggle" onClick="toggleForm(this.id)">Change Date <i class="fas fa-plus"></i></button>
                      <div class="dateChangeForm mt-2">
                        <form action="/events/event/changeDate/<%=event._id%>?_method=PUT" method="POST">
                          <label for="date">Change Date</label>
                          <input type="datetime-local" name="date" id="date">
                          <button class="btn btn-sm btn-outline-light">Submit</button>
                        </form>
                      </div>

                      <button class="btn btn-outline-light toggleForm" id="changeAddressToggle" onClick="toggleForm(this.id)">Change Address <i class="fas fa-plus"></i></button>
                      <div class="changeAddressForm mt-2">
                        <form action="/events/event/updateAddress/<%=event._id%>?_method=PUT" method="POST">
                          <div class="form-group">
                            <label for="address">Address</label> 
                            <input type="text" name="address" id="address" class="form-control">
                          </div>
                          <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" name="city" id="city" class="form-control">
                          </div>
                          <div class="form-group">
                            <label for="state">State</label>
                            <input type="text" name="state" id="state" class="form-control">
                          </div>
                          <div class="form-group">
                            <label for="zip">Zip Code</label>
                            <input type="text" name="zip" id="zip" class="form-control">
                          </div> 
                          <button class="btn btn-sm btn-outline-light">Submit</button>
                        </form>
                      </div>
                      <%}%>

                      <button class="btn btn-outline-light toggleForm" id="addInvites" onClick="toggleForm(this.id)">Invite Friends <i class="fas fa-plus"></i></button>
                      <div class="addInvitesForm mt-2">
                        <form action="/events/event/sendInvite/<%=event._id%>?_method=PUT" method="post">
                          <div class="form-group">
                            <label for="invites">Enter Email(s) <span class="">separate multiple emails with a comma (,)</span></label>
                            <textarea name="invites" id="" cols="30" rows="2" class="form-control"></textarea>
                          </div>
                        <button class="btn btn-sm btn-outline-light" class="form-control">Submit</button>
                        </form>
                      </div>

                  </div>
                <%}%>
                </div>
              </div>
        </div>
    </div>

    <div class="container p-0">
      <div class="row justify-content-center" >
        <div class="col col-sm-11 col-md-9 col-lg-7">
          <div id="comments" class="p-3">
            <form action="/events/event/postComment/<%=event._id%>?_method=PUT" method="POST" class="pb-1">
              <div class="form-group mb-1">
                <label for="content">New Comment</label>
                <textarea name="content" id="content" cols="30" rows="2" class="form-control"></textarea>
              </div>
              <button class="btn btn-sm btn-outline-light">Submit</button>
            </form>
            <%for(let i=0; i<event.comments.length; i++){%>
              <div class="d-flex flex-column align-items-start comment mb-2 p-2 text-left">
                <p class="mb-0 comment-user"><%=event.comments[i].username%></p>
                <p class="mb-0"><%=event.comments[i].content%></p>
                <div class="w-100 d-flex justify-content-between">
                  <div>
                    <span class="comment-date"><%=event.comments[i].date.toDateString()%></span>
                  </div>

                  <div>
                    <%let userId = event.comments[i].userId%>
                    <%let commentId = event.comments[i]._id%>
                    <%let likes = event.comments[i].likes%>
                    <form action="/events/event/addCommentLike/<%=event._id%>/<%=commentId%>?_method=PUT" method="POST" class="d-inline align-self-end">
                      <span class="comment-likes"><%=likes%></span>
                      <button class="btn btn-xs btn-outline-danger"><i class="fas fa-heart"></i></button>
                    </form>
                    
                    <%if(user && userId == user._id){%>
                      <form action="/events/event/deleteComment/<%=event._id%>/<%=commentId%>?_method=PUT" method="POST" class="d-inline align-self-end">
                        <button class="btn btn-xs btn-outline-primary"><i class="fas fa-trash"></i></button>
                      </form>
                    <%}%>
                  </div>
                </div>
              </div>
            <%}%>
        </div>
      </div>
    </div>

    <script src="../../js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>