<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>100 Hours Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="pb-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2 pb-0 pt-0">
        <a class="navbar-brand" href="/"><img src="images/meetcomm.png" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <% if(isLoggedIn){%>
              <li class="nav-item">
                <a href="/profile" class="nav-link">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            <%} else {%>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
              </li>
            <%}%>
          </ul>
          <form action="/search" method="GET" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>
    
    <h1>Search Results</h1>

    <h2>Upcoming Events</h2>
    <div class="container">
      <div class="row">
        <% for(let i=0;i<events.length;i++){ %>
          <% let event = events[i] %>
            <% if(event.date.getTime() >= Date.now()){ %>
              <div class="col-xs-12 col-sm-10 col-md-6 col-lg-4">
                <div class="card">
                  <img src="<%= event.image %>" alt="Event Photo" class="img-fluid">
                  <div class="card-body">
                    <h4 class="card-title"><%=events[i].name%></h3>
                    <p class="card-text pb-0 mb-0"><%=event.date.toLocaleDateString(undefined, {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })%> at <%=event.date.toLocaleTimeString()%></p>
                    <form action="/events/event/<%=event._id%>" class="d-inline">
                      <button class="btn btn-outline-light btn-sm mt-3" >See More</button>
                    </form>
                  </div>
                </div>
              </div>
            <%}%>
        <%}%>
      </div>
    </div>


    <h2 class="d-block">Past Events</h2>
    <div class="container">
      <div class="row justify-content-center">
        <% for(let i=0;i<events.length;i++){ %>
          <% let event = events[i] %>
          <% if(event.date.getTime() < Date.now()){ %>
            <div class="col-xs-12 col-sm-10 col-md-6 col-lg-4">
              <div class="card">
                <img src="<%= event.image %>" alt="Event Photo" class="img-fluid">
                <div class="card-body">
                  <h4 class="card-title"><%=event.name%></h3>
                  <p class="card-text pb-0 mb-0"><%=event.date.toLocaleDateString(undefined, {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })%> at <%=event.date.toLocaleTimeString()%></p>
                  <form action="/events/event/<%=event._id%>" class="d-inline">
                    <button class="btn btn-outline-light btn-sm mt-3" >See More</button>
                  </form>
                </div>
              </div>
            </div>
          <%}%>
        <%}%>
      </div>
    </div>
    
    <script src="js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>